<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests" thread-count="1">
	<parameter name="isBrowserstackRun" value="true"/>
<!--	<test name="Android Test">-->
<!--		<parameter name="deviceName" value="Samsung Galaxy S21"/>-->
<!--		<parameter name="udid" value="emulator-5554"/>-->
<!--		<parameter name="platformName" value="android"/>-->
<!--		<parameter name="platformVersion" value="11.0"/>-->
<!--		<classes>-->
<!--			<class name="org.example.tests.MenuNavigationTests"/>-->
<!--&lt;!&ndash;			<class name="org.example.tests.MenuNavigationTests2"/>&ndash;&gt;-->
<!--		</classes>-->
<!--	</test>-->
	<test name="iOS Test">
		<parameter name="deviceName" value="iPhone 12"/>
		<parameter name="udid" value=""/>
		<parameter name="platformName" value="ios"/>
		<parameter name="platformVersion" value="14"/>
		<classes>
			<class name="org.example.tests.MenuNavigationTests"/>
<!--			<class name="org.example.tests.MenuNavigationTests2"/>-->
		</classes>
	</test>
<!--	<test name="Nexus Test">-->
<!--		<parameter name="deviceName" value="emulator-5556"/>-->
<!--		<parameter name="udid" value="emulator-5556"/>-->
<!--		<parameter name="platformName" value="Android"/>-->
<!--		<parameter name="platformVersion" value="10"/>-->
<!--		<classes>-->
<!--			<class name="org.example.tests.MenuNavigationTests"/>-->
<!--		</classes>-->
<!--	</test>-->
<!--	<test name="Safari Test">-->
<!--		<parameter name="platform" value="Mac"/>-->
<!--		<parameter name="browser" value="safari"/>-->
<!--		<parameter name="version" value="14"/>-->
<!--		<parameter name="viewport" value="1920x1440"/>-->
<!--		<parameter name="url" value="https://qa.intita.com/"/>-->
<!--		<classes>-->
<!--			<class name="org.intita.tests.ProfileTest"/>-->
<!--			<class name="org.intita.tests.LoginTest"/>-->
<!--			<class name="org.intita.tests.RegistrationTest"/>-->
<!--		</classes>-->
<!--	</test>-->
</suite>